      <div id="alertPlaceholder">
      {{#if message}}
          <script>
          showAlert(`{{message}}`);
          </script>
      {{/if}}
      </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <p class="text-muted" style="margin: 20px 0px;">Developed by git/<a href="https://github.com/webriddler" target="_blank">webriddler</a></p>
      </div>
    </footer>
  </body>
</html>