<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/bootstrap@3.4.1/dist/css/bootstrap.min.css"
    />
    <link rel="shortcut icon" href="/image/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/app.js"></script>
    <title>{{title}}</title>
  </head>
  <body>
    <section class="py-3 py-md-5 py-xl-8">
      <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="mb-5">
                    <h2 class="display-5 fw-bold text-center">{{title}}</h2>
                    <p class="text-center m-0">{{description}}</p>
                </div>
            </div>
        </div>